.header-wrapper {
    display: block;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: space-between;
}

.header-img {
    width: 40px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
