.teatro {
    width: 100%;
    padding-top: 55px;
}

.carousel-area {
    padding-top: 0px;
}

.carousel-control-next {
    z-index: 0;
}

.carousel-indicators {
    z-index: 1;
}

@media (max-width: 768px) {
    .carousel-indicators {
        z-index: 0;
    }    
}